{% extends 'layouts/base.html' %}
{% block title %}Over deze website{% endblock %}
{% block main_title %}Over deze website{% endblock %}

{% block content %}
  <p>Op <a href="{{ url_for('redirect.rechtspraak_search') }}" target="_blank" rel="noopener">namenlijst.rechtspraak.nl</a> worden nevenfuncties van diverse functionarissen in de rechtspraak geregistreerd. Dit
    publieke register is enkel toegankelijk op deelniveau, dus als je weet wat je zoekt. Open Rechtspraak maakt deze
    informatie direct toegankelijk.</p>

  <h2 class="mt-5">Over Open State Foundation</h2>
  <p><a href="https://openstate.eu/nl/" target="_blank" rel="noopener">Open State Foundation</a> (OSF) is een onafhankelijke stichting zonder winstoogmerk, en heeft als missie het bijdragen
    aan een digitaal transparante overheid en daarmee een controleerbare en vitale democratie.</p>
  <p>Om te komen tot een open overheid werkt OSF aan het ontsluiten van informatie van publieke instellingen als open
    data, en het bevorderen van hergebruik van die data door burgers, journalisten, maatschappelijke organisaties,
    kunstenaars, wetenschappers, ambtenaren, beleidsmakers en volksvertegenwoordigers.</p>
  <a class="btn btn-primary" href="https://openstate.eu/nl/over-ons/" target="_blank" rel="noopener">Meer over ons</a>

  <h2 class="mt-5">Kom in contact met ons</h2>
  <p>Onze contactgevens tref je aan op onze eigen website.</p>
  <a class="btn btn-primary" href="https://openstate.eu/nl/contact/" target="_blank" rel="noopener">Neem contact op</a>

  <h2 class="mt-5">Steun ons werk</h2>
  <p>Ben je er net als wij van overtuigd dat iedereen vrij moet kunnen beschikken over vitale overheidsinformatie over bijvoorbeeld het onderwijs, de zorg of het klimaat? Steun dan Open State Foundation in haar missie voor digitale transparantie bij de overheid.</p>
  <p>We kunnen je eenmalige of periodieke donatie heel erg goed gebruiken bij het ontsluiten van informatie als open data en het beschikbaar maken ervan voor hergebruikers zoals journalisten, wetenschappers, maatschappelijke organisaties, start-ups, kunstenaars en burgers.</p>
  <p>Draag bij aan onze missie, zodat we samen de democratie versterken en maatschappelijke en economische waarde creëren. Doneren kan eenvoudig via het formulier hieronder. Liever rechtstreeks overmaken? Dat kan uiteraard ook: NL50 ABNA 0490685897 tnv. Open State Foundation. Alvast ontzettend bedankt!</p>
  <p>Goed om te weten: Open State Foundation heeft de ANBI-status waardoor donateurs hun gift mogen aftrekken van de inkomsten- of vennootschapsbelasting.</p>
  <a class="btn btn-primary" href="https://openstate.eu/nl/doneren/" target="_blank" rel="noopener">Doneren</a>
{% endblock %}
