{% extends 'layouts/base.html' %}
{% block title %}Home{% endblock %}


{% block content %}
  <p>Op <a href="{{ url_for('redirect.rechtspraak_search') }}">namenlijst.rechtspraak.nl</a> worden nevenfuncties van diverse functionarissen in de rechtspraak geregistreerd. Dit
    publieke register is enkel toegankelijk op deelniveau, dus als je weet wat je zoekt. Open Rechtspraak maakt deze
    informatie direct toegankelijk.</p>

  <div class="mt-5">
    <div class="form-group mb-2">
      <label class="visually-hidden" for="q">Email address</label>
      <input class="form-control" id="q" placeholder="Zoek op naam...">
    </div>

    <p><span id="search-results-count">____</span> personen gevonden</p>

    <div class="row mt-4">
      <div id="results" class="col">
      </div>
    </div>
  </div>

{% endblock %}
