// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// We use Bootstrap's horizontal <dl> to format the openingstijden, but
// we don't want the <dd> to go below the <dt> on smaller screens, so
// set the breakpoint to 0
$dl-horizontal-breakpoint: 0;

$primary: #a62689;
$secondary: #5b4864;
$info: #31A8DF;
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

// Colors
$white: #FFF;
$black: #000;
$brand-primary: $black;
$dark-grey: #3D4A4C;
$light-grey: #F2F2F2;
$lighter-grey: #F7F7F7;

// Typography
//## Font, line-height, and color for body text, headings, and more.
$font-family-title: 'Montserrat', sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: monospace !default;
$font-family-base: $font-family-title !default;
