header a {
  color: black;
}

nav {
  background-color: $white;
  font-size: 18px;
  line-height: 36px;
  font-family: $font-family-title;

  button {
    margin: 0 !important;
    border: 0 !important;
    padding: 7px 20px !important;
    color: $black !important;
  }
}

.navbar-brand {
  padding: 0;

  img {
    padding: 2px 10px;
    height: 100%;
    width: 60%;
  }
}

.lead {
  background-color: $light-grey;
  padding: 100px 0 20px 0;
}

.header-logo {
  a {
    display: inline-block;
  }

  img {
    width: 220px;
  }
}
