<div class="modal fade" id="donationModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-5">
        <div class="d-flex justify-content-between">
          <h2 class="text-primary">Steun ons werk.</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Sluiten"></button>
        </div>

        <p>Open Rechtspraak is - zonder winstoogmerk - gebouwd door <a href="https://openstate.eu?utm_source=openrechtspraak" target="_blank">Open State
          Foundation</a>. Ben je er net als wij van
          overtuigd dat iedereen vrij moet kunnen beschikken over vitale overheidsinformatie, inclusief informatie
          over de rechtspraak? Steun ons dan in onze missie voor digitale transparantie bij de overheid.</p>

        <div class="my-4">
          <a href="https://openstate.eu/nl/doneren/?utm_source=openrechtspraak" target="_blank" class="btn btn-primary btn-lg w-100 mb-2">Doneer
            nu</a>
          <button type="button" class="btn btn-white btn-lg w-100" data-bs-dismiss="modal">Een andere keer</button>
        </div>

        <hr class="my-4"/>

        <h6>Bedrijfsdonateurs</h6>
        <p>Gebruik je Open Rechtspraak vanuit je werk als advocaat, jurist of een ander beroep? Overweeg dan een
          zakelijke sponsor te worden van Open State foundation. Op onze website tonen we dan jouw logo, bedrijfsnaam,
          beschrijving en link naar je website.</p>

        <a href="https://openstate.eu/nl/doneren/#bedrijfsdonateurs?utm_source=openrechtspraak" target="_blank">Klik hier voor meer informatie</a>
      </div>
    </div>
  </div>
</div>
