<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 footer-logo">
        <a href="/">
          <img class="img-responsive" src="/static/dist/images/logo-open-state-foundation.svg"
               alt="Open Rechtspraak logo">
        </a>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-3 d-flex align-items-center">
        <ul class="list-inline mt-1">
          <li class="list-inline-item"><a href="https://www.facebook.com/OpenStateFoundation/" target="_blank"
                                          rel="noopener"><i class="fab fa-facebook fa-2x text-grey"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/OpenStateEU" target="_blank" rel="noopener"><i
                  class="fab fa-twitter fa-2x text-grey"></i></a></li>
          <li class="list-inline-item"><a href="https://github.com/openstate/open-rechtspraak" target="_blank"
                                          rel="noopener"><i class="fab fa-github fa-2x text-grey"></i></a></li>
          <li class="list-inline-item"><a href="mailto:openrechtspraak@openstate.eu" target="_blank" rel="noopener"><i
                  class="far fa-envelope fa-2x text-grey"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
