<footer>
  <div class="container">
    <div class="row header">
      <div class="footer-item col-xs-12 col-sm-4 col-md-3 footer-logo">
        <a href="/">
          <img class="img-responsive" src="/static/dist/images/logo-open-state-foundation.svg"
               alt="Open Rechtspraak logo">
        </a>
      </div>
      <div id="contact" class="footer-item col-xs-12 col-sm-4 col-md-3">
        <ul class="list-inline text-grey right-footer-list-padding" style="margin-top: 15px;">
          <li><a class="right-footer-padding" href="https://www.facebook.com/OpenStateFoundation/" target="_blank"
                 rel="noopener"><i class="fa fa-facebook fa-2x text-grey"></i></a></li>
          <li><a class="right-footer-padding" href="https://twitter.com/OpenStateEU" target="_blank" rel="noopener"><i
                  class="fa fa-twitter fa-2x text-grey"></i></a></li>
          <li><a class="right-footer-padding" href="https://github.com/openstate/open-rechtspraak" target="_blank"
                 rel="noopener"><i class="fa fa-github fa-2x text-grey"></i></a></li>
          <li><a class="right-footer-padding" href="mailto:openrechtspraak@openstate.eu" target="_blank" rel="noopener"><i
                  class="fa fa-envelope-o fa-2x text-grey"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
