<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 mb-3 d-flex d-sm-block justify-content-center">
        <a href="/">
          <img class="img-responsive" src="/static/dist/images/Open_State_Foundation_logo_tagline_nl_transparent.svg"
               alt="Open State Foundation logo met tagline 'open data, transparante samenleving'">
        </a>
      </div>
      <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-end">
        <ul class="list-inline mt-1">
          <li class="list-inline-item"><a href="https://twitter.com/OpenStateEU" target="_blank" rel="noopener"><i
                  class="fab fa-twitter fa-2x text-grey"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/company/open-state-foundation/" target="_blank" rel="noopener"><i
                  class="fab fa-linkedin fa-2x text-grey"></i></a></li>
          <li class="list-inline-item"><a href="https://www.facebook.com/OpenStateFoundation/" target="_blank"
                                          rel="noopener"><i class="fab fa-facebook fa-2x text-grey"></i></a></li>
          <li class="list-inline-item"><a href="https://github.com/openstate/open-rechtspraak" target="_blank"
                                          rel="noopener"><i class="fab fa-github fa-2x text-grey"></i></a></li>
          <li class="list-inline-item"><a href="https://openstate.eu/nl/contact/" target="_blank" rel="noopener"><i
                  class="far fa-envelope fa-2x text-grey"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
