<nav class="navbar navbar-expand-lg bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/static/images/logo.svg"
           alt="Open Rechtspraak logo" class="d-inline-block align-top nav-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-3 mt-3 mt-lg-0"><a class="nav-link fs-5" href="{{ url_for('base.index') }}">Home</a></li>
        <li class="nav-item me-3"><a class="nav-link fs-5" href="{{ url_for('base.about') }}">Over deze website</a></li>
        <li class="nav-item"><a class="nav-link fs-5"
                                     href="{{ url_for('redirect.rechtspraak_open_data') }}" target="_blank" rel="noopener">Rechtspraak.nl open data</a></li>
      </ul>
    </div>
  </div>
</nav>
