{% extends 'layouts/base.html' %}
{% block title %}{{ person.toon_naam }}{% endblock %}

{% block content %}
  <div class="row mb-5">
    <div class="col-sm-8 mb-3">
      <h1>{{ person.toon_naam }}</h1>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-primary float-sm-end"
         href="{{ url_for('redirect.rechtspraak_persoon', id=person.rechtspraak_id) }}">Bekijk
        op rechtspraak.nl</a>
    </div>
  </div>

  <div>
    <h2 class="mb-3">Beroepsgegevens</h2>
    {% if professional_details|length > 0 %}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Van</th>
          <th>Functie</th>
          <th>Organisatie</th>
        </tr>
        </thead>
        <tbody>
        {% for pd in professional_details %}
          <tr id="{{ pd.id }}">
            <td nowrap>{{ pd.start_date|date }}</td>
            <td>{{ pd.function }}</td>
            <td>{{ pd.organisation }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Er zijn geen beroepsgegevens bekend.</p>
    {% endif %}


    <h2 class="mt-3 mb-3">Historische beroepsgegevens</h2>
    {% if historical_professional_details|length > 0 %}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Van</th>
          <th>Tot</th>
          <th>Functie</th>
          <th>Organisatie</th>
        </tr>
        </thead>
        <tbody>
        {% for pd in historical_professional_details %}
          <tr id="{{ pd.id }}">
            <td nowrap>{{ pd.start_date|date }}</td>
            <td nowrap>{{ pd.end_date|date }}</td>
            <td>{{ pd.function }}</td>
            <td>{{ pd.organisation }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Er zijn geen historische beroepsgegevens bekend.</p>
    {% endif %}
  </div>

  <div>
    <h2 class="mt-3 mb-3">Nevenbetrekkingen</h2>
    {% if side_jobs|length > 0 %}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Start</th>
          <th>Functie</th>
          <th>Bij</th>
          <th></th>
          <th>In</th>
          <th>Betaald?</th>
        </tr>
        </thead>
        <tbody>
        {% for sj in side_jobs %}
          <tr id="{{ sj.id }}">
            <td nowrap>{{ sj.start_date|date }}</td>
            <td>{{ sj.function }}</td>
            <td>{{ sj.organisation_name }}</td>
            <td>{{ sj.organisation_type }}</td>
            <td nowrap>{{ sj.place }}</td>
            <td nowrap>{{ sj.paid }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Er zijn geen nevenbetrekkingen bekend.</p>
    {% endif %}

    <h2 class="mt-3 mb-3">Historische nevenbetrekkingen</h2>
    {% if historical_side_jobs|length > 0 %}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Van</th>
          <th>Tot</th>
          <th>Functie</th>
          <th>Bij</th>
          <th></th>
          <th>In</th>
          <th>Betaald?</th>
        </tr>
        </thead>
        <tbody>
        {% for hsj in historical_side_jobs %}
          <tr id="{{ hsj.id }}">
            <td nowrap>{{ hsj.start_date|date }}</td>
            <td nowrap>{{ hsj.end_date|date }}</td>
            <td>{{ hsj.function }}</td>
            <td>{{ hsj.organisation_name }}</td>
            <td>{{ hsj.organisation_type }}</td>
            <td nowrap>{{ hsj.place }}</td>
            <td nowrap>{{ hsj.paid }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Er zijn geen historische nevenbetrekkingen bekend.</p>
    {% endif %}
  </div>
{% endblock %}
